<div class="card flex justify-content-center">
    <DialogPrime
        :visible="visible"
        @update:visible="UpdateVisible"
        :header="t('AppDeleteProjectDialog.header')"
        :style="{ width: '50vw' }"
        class="dialog"
        modal
        :pt="{
      mask: {
          style: 'backdrop-filter: blur(0.125rem)'
      }
  }"
    >
        <p>{{ t("AppDeleteProjectDialog.dialogue") }}</p>
        <template #footer>
            <ButtonPrime
                class="custom-button-annuler"
                :label="t('AppDeleteProjectDialog.cancelButton')"
                icon="pi pi-times"
                @click="closeDialog"
            />
            <ButtonPrime
                class="custom-button-supprimer"
                :label="t('AppDeleteProjectDialog.DeleteButton')"
                icon="pi pi-check"
                @click="deleteProject(identifiant)"
                autofocus
            />
        </template>
    </DialogPrime>
</div>
