<div class="grid">
    <div class="col-12">
        <CustomToast ref="customToast" />
        <header class="col-11 col-md-10 mx-auto">
            <router-link to="/ProjectList">
                <ButtonPrime label="Mes projets" icon="pi pi-angle-left" id="MesProjets" class="custom-button-MesProjets"></ButtonPrime>
            </router-link>
        </header>
        <div class="col-11 col-md-10 mx-auto">
            <div class="row-flex">
                <div class="titre-projet">
                    <h1>{{ activeProjectTitle }}</h1>
                </div>
                <div class="avancement">
                    <ProgressBar class="barre-avancement" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-11 col-md-10 mx-auto">
        <ButtonPrime @click="ajouterNouvelOnglet" class="add-page" rounded>
            <i class="pi pi-plus"></i>
            {{ t("AppMenuProject.Add") }}
        </ButtonPrime>
        <ButtonPrime @click="show = true" class="add-page" rounded>
            <i class="pi pi-trash"></i>
            {{ t("AppMenuProject.Delete") }}
        </ButtonPrime>
    </div>
    <div class="col-11 col-md-10 mx-auto">
        <TabMenu v-model:activeIndex="activeIndex" :model="items" @onTabClick="onTabClick" class="MenuProject">
            <template #item="{ label, item, props }">
                <button v-bind="props.action" @click="onTabClick(item.key)" :class="{ 'active-tab': active === item.key }">
                    {{ label }}
                </button>
            </template>
        </TabMenu>
        <DialogueDeletePageVue :visible="show" :active="active" @update:visible="show = $event" @delete-confirmed="handleDelete" />
        <DialogueCreationOnglet v-model:visible="visible" :onTitleChange="handleTitleChange" />
        <div v-if="active !== null">
            <component :is="active.component" />
        </div>
    </div>
</div>
